@import "tailwindcss";

@theme {
  --color-purple-light: #8D60EC;
  --color-purple-dark: #5712EB;
  --color-labubu-primary: #8D60EC;
  --color-labubu-secondary: #5712EB;
  --font-zubilo-black: "font-zubilo-black", serif;
}

html {
  background-color: #fafafa;
  overscroll-behavior: none;
}
